# Backend
HELP.md
backend/target/
backend/.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### Environment variables ###
backend/.env

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# Frontend
frontend/node_modules
frontend/dist
frontend/dist-ssr
*.local

### VS Code ###
.vscode/*
!.vscode/extensions.json
frontend/.idea
frontend/.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
frontend/.env
*.pdf
.guía.txt

*.pdf

# Uploaded product images
backend/uploads/
